<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="js/index.js"></script> 
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="titlebar" class="drag">
        <div class="info nodrag">
            <div class="icon drag noselect"><img id="icon" src=""></div>
            <div class="text"><p id="title"></p></div>
        </div>

        <div class="buttons nodrag noselect">
            <button class="buttonWindowEvent" id="minimize">
                <img src="media/minimize_icon_dark.png">
            </button>
            <button class="buttonWindowEvent" id="close">
                <img src="media/close_icon_dark.png">
            </button>
        </div>
    </div>
    <div id="main"></div>
    <div id="contextMenu" class="hidden">
        <div class="content noselect">
            <div class="group">
                <p id="copy">copy</p>
            </div>
        </div>
    </div>
</body>
</html>