* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'MS Sans Serif';
    /* font-family: 'Segoe UI'; */

    --text: #ebebeb;
    --background-primary: #141414;
    --background-secondary: #010101;
    --trim: #292929;
    --primary: #98add9;
    --secondary: #4f6187;
    --accent: #af7dbf;

    --font-size-default: 13px;

    color: var(--text);
}

.drag {
    --webkit-app-region: drag;
}

.nodrag {
    --webkit-app-region: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    border: 2px solid var(--background-primary);
}

/* =========================== */
/* TITLEBAR STYLING */
/* =========================== */

#titlebar {
    width: 100%;
    height: 26px;
    background-color: var(--background-secondary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 2px solid var(--background-primary);
}

#titlebar > .info {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

#titlebar > .info > .text > p {
    font-size: 14px;
}

#titlebar > .info > .icon {
    width: 16px;
    height: 16px;
    margin: 0px 4px;
}

#titlebar > .info > .icon > img {
    width: 100%;
    height: 100%;
}

#titlebar > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#titlebar > .buttons > .button {
    height: 19px;
    width: 19px;
    margin-right: 2px;
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#titlebar > .buttons > .button:hover > img {
    transition: all .15s ease;
    filter: invert(39%) sepia(55%) saturate(611%) hue-rotate(206deg) brightness(83%) contrast(90%);
}

#titlebar > .buttons > .button > img {
    width: 16px;
    height: 16px;
    transition: all .15s ease;
    filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(80%) contrast(100%);
}

/* =========================== */
/* MAIN BODY STYLING */
/* =========================== */

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
}

/* =========================== */
/* FRAME STYLING */
/* =========================== */

.frame {
    border: 1px solid var(--trim);

    width: calc(100% - 12px);
    height: calc(100% - 12px);

    padding: 6px;
    margin: 6px;
    display: flex;
    
    position: relative;
}

.frame > span {
    position: absolute;
    top: -9px;
    font-size: var(--font-size-default);
    background-color: var(--background-primary);
    border-left: 4px solid var(--background-primary);
    border-right: 4px solid var(--background-primary);
}

.frame.horizontal {
    flex-direction: row;
}

.frame.vertical {
    flex-direction: column;
}

.frame.vertical-auto {
    height: auto;
}

.frame.horizontal-auto {
    width: auto;
}

/* =========================== */
/* ELEMENT STYLING */
/* =========================== */

.element {
    margin-top: 8px;
    margin-left: 12px;
}

.element:last-of-type {
    margin-bottom: 8px;
}

/* =========================== */
/* BUTTON STYLING */
/* =========================== */

.button > button {
    padding: 4px 16px;

    background-color: var(--primary);
    color: var(--background-primary);

    transition: all .15s ease;
    font-size: var(--font-size-default);
}

.button > button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* =========================== */
/* LABEL STYLING */
/* =========================== */

.label.center {
    text-align: center;
}

.label.left {
    text-align: left;
}

.label.right {
    text-align: right;
}

.label > p {
    font-size: var(--font-size-default);
}

/* =========================== */
/* CHECKBOX STYLING */
/* =========================== */

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox > label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox > label > span {
    width: 18px;
    height: 18px;
    background-color: var(--background-secondary);
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox > label > span::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    opacity: 0;
    margin-top: 3px;
    margin-left: 3px;
    background-color: var(--background-secondary);
    transition: all .15s ease;
}

.checkbox > label:hover > span::after {
    transition: all .15s ease;
    opacity: 1;
    background-color: var(--primary);
    filter: brightness(120%);
}

.checkbox > label input[type="checkbox"]:checked + span::after {
    transition: all .15s ease;
    opacity: 1;
    background-color: var(--primary);
}

.checkbox > p {
    margin-left: 20px;
    font-size: var(--font-size-default);
}

/* =========================== */
/* SLIDER STYLING */
/* =========================== */

.slider {
    display: flex;
    flex-direction: row;
    position: relative;

    margin-bottom: 10px;
}

.slider > input {
    appearance: none;
    width: 100px;
    height: 16px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--accent) 100%);
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.slider > input:hover {
    filter: brightness(120%);
}

.slider > span {
    font-size: var(--font-size-default);
    position: absolute;
    top: 16px;
    left: 0px;
}

.slider > p {
    margin-left: 20px;
    font-size: var(--font-size-default);
}

.slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 16px;
    background: rgba(0,0,0,0);
    cursor: pointer;
    box-shadow: 100px 0 0 100px var(--background-secondary);
}

/* =========================== */
/* DROPDOWN STYLING */
/* =========================== */

.dropdown {
    font-size: var(--font-size-default);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown > p {
    margin-left: 20px;
}

.dropdown > div {
    position: relative;
}

.dropdown > div > input {
    width: 100px;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--background-secondary);
    padding: 3px 10px;
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

.dropdown > div > .content {
    display: none;
    position: absolute;

    min-width: 100px;
    max-width: 100px;

    background-color: var(--background-secondary);

    z-index: 1;
}

.dropdown > div > .content > p {
    cursor: pointer;

    padding: 4px 10px;
    font-size: 12px;

    transition: all .15s ease;
}

.dropdown > div > .content > p.selected {
    color: var(--primary);
}

.dropdown > div > .content > p:hover {
    color: var(--primary);
    filter: brightness(120%);
}

.dropdown > div:hover > .content {
    display: block;
}

.dropdown > div:hover > input {
    border-bottom: 1px solid var(--trim);
}

/* =========================== */
/* SELECTOR STYLING */
/* =========================== */

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: var(--font-size-default);
}

.selector > div {
    display: flex;
    align-items: center;

    background-color: var(--background-secondary);
}

.selector > div > p {
    background-color: var(--background-secondary);

    transition: all .15s ease;

    height: 100%;

    font-size: 12px;

    padding: 3px 10px;
    color: var(--text);
}

.selector > div > p:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background-primary);
    filter: brightness(120%);
}

.selector > div > p.selected {
    background-color: var(--primary);
    color: var(--background-primary);
}

.selector > p {
    margin-left: 20px;
}