* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'MS Sans Serif';
    /* font-family: 'Segoe UI'; */

    --text: #ebebeb;
    --text-secondary: #b3b3b3;
    --background-primary: #141414;
    --background-secondary: #010101;
    --trim: #292929;
    --primary: #98add9;
    --secondary: #4f6187;
    --accent: #af7dbf;

    --font-size-default: 13px;

    --item-offset-left: 28px;
    --item-offset-label: 4px;

    color: var(--text);
}

.drag {
    --webkit-app-region: drag;
}

.nodrag {
    --webkit-app-region: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    border: 2px solid var(--background-primary);
}

/* =========================== */
/* TITLEBAR STYLING */
/* =========================== */

#titlebar {
    width: 100%;
    height: 26px;
    background-color: var(--background-secondary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 2px solid var(--background-primary);

    z-index: 2;
}

#titlebar > .info {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

#titlebar > .info > .text > p {
    font-size: 14px;
}

#titlebar > .info > .icon {
    width: 16px;
    height: 16px;
    margin: 0px 4px;
}

#titlebar > .info > .icon > img {
    width: 100%;
    height: 100%;
}

#titlebar > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#titlebar > .buttons > .button {
    height: 19px;
    width: 19px;
    margin-right: 2px;
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#titlebar > .buttons > .button:hover > img {
    transition: all .15s ease;
    filter: invert(39%) sepia(55%) saturate(611%) hue-rotate(206deg) brightness(83%) contrast(90%);
}

#titlebar > .buttons > .button > img {
    width: 16px;
    height: 16px;
    transition: all .15s ease;
    filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(80%) contrast(100%);
}

/* =========================== */
/* MAIN BODY STYLING */
/* =========================== */

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    z-index: 0;
}

/* =========================== */
/* NOTIFICATION STYLING */
/* =========================== */

#notification_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    position: absolute;
    width: 35vw;
    /* 26px for the titlebar */
    height: calc(100vh - 26px);
    padding: 14px;

    bottom: 0;
    right: 0;
    z-index: 1;

    pointer-events: none;
}

.notification {
    pointer-events: auto;
    cursor: pointer;

    width: 100%;

    background-color: var(--background-primary);
    border: 1px solid var(--trim);

    padding: 8px;

    position: relative;

    opacity: 1;
    transition: all .2s ease;
}

.notification:not(:first-child) {
    margin-bottom: 8px;
}

.notification:hover {
    filter: brightness(110%);
    transform: translateX(-2px) translateY(-5px);
}

.notification.fade {
    opacity: 1;
    animation: fadeOut .3s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notification > .statusbar {
    position: absolute;
    bottom: 8px;
    /* 16px is the padding */
    width: calc(100% - 16px);
    height: 6px;
    background-color: var(--background-secondary);
}

.notification > .statusbar > div {
    animation: progress 5s linear forwards;
    background-color: var(--accent);
    height: 100%;
    width: 100%;
}

@keyframes progress {
    0% {
        width: calc(100% - 16px);
    }

    100% {
        width: 1%;
    }
}

.notification > .content {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-default);

    /* 6px for statusbar 8px for padding */
    margin-bottom: calc(6px + 8px);
}

.notification > .content > .contentDescription {
    color: var(--text-secondary);
}

/* =========================== */
/* FRAME STYLING */
/* =========================== */

.frame {
    border: 1px solid var(--trim);

    width: calc(100% - 12px);
    height: calc(100% - 12px);

    padding: 6px;
    margin: 6px;
    display: flex;
    
    position: relative;
}

.frame > span {
    position: absolute;
    top: -9px;
    font-size: var(--font-size-default);
    background-color: var(--background-primary);
    border-left: 4px solid var(--background-primary);
    border-right: 4px solid var(--background-primary);
}

.frame.horizontal {
    flex-direction: row;
}

.frame.vertical {
    flex-direction: column;
}

.frame.vertical-auto {
    height: auto;
    flex-direction: column;
}

.frame.horizontal-auto {
    width: auto;
    flex-direction: row;
}

/* =========================== */
/* ELEMENT STYLING */
/* =========================== */

.element {
    position: relative;
    margin-top: 8px;
    margin-left: 12px;
}

.element > .shadow {
    /* label text doesnt select properly without this */
    z-index: -1;
    opacity: 0;
    margin-left: var(--item-offset-left);
    font-size: var(--font-size-default);
}

.element > .label {
    position: absolute;
    margin-left: var(--item-offset-left);
    font-size: var(--font-size-default);
}

.element:last-of-type {
    margin-bottom: 8px;
}

/* =========================== */
/* BUTTON STYLING */
/* =========================== */

.button > button {
    padding: 4px 16px;

    background-color: var(--primary);
    color: var(--background-primary);

    transition: all .15s ease;
    font-size: var(--font-size-default);

    margin-left: var(--item-offset-left);
    margin-top: var(--item-offset-label);
}

.button > button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* =========================== */
/* LABEL STYLING */
/* =========================== */

.label {
    display: flex;
    align-items: center;
}

.label.center {
    text-align: center;
}

.label.left {
    text-align: left;
}

.label.right {
    text-align: right;
}

/* =========================== */
/* CHECKBOX STYLING */
/* =========================== */

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox > label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox > label > span {
    width: 18px;
    height: 18px;
    background-color: var(--background-secondary);
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox > label > span::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    opacity: 0;
    margin-top: 3px;
    margin-left: 3px;
    background-color: var(--background-secondary);
    transition: all .15s ease;
}

.checkbox > label:hover > span::after {
    transition: all .15s ease;
    opacity: 1;
    background-color: var(--primary);
    filter: brightness(120%);
}

.checkbox > label input[type="checkbox"]:checked + span::after {
    transition: all .15s ease;
    opacity: 1;
    background-color: var(--primary);
}

/* =========================== */
/* SLIDER STYLING */
/* =========================== */

.slider {
    display: flex;
    flex-direction: column;

    /* exta margin for the value text */
    /* margin-bottom: 10px; */
}

.slider > div {
    display: flex;
    /* 12px is the element left padding */
    width: calc(100% - var(--item-offset-left) * 2 - 12px);
    position: relative;
    margin-bottom: var(--font-size-default);
    margin-top: var(--item-offset-label);
    margin-left: var(--item-offset-left);
}

.slider > div > .decrement {
    position: absolute;
    left: -23px;
    top: -7px;
    cursor: pointer;
    font-size: 17px;
}

.slider > div > .increment {
    position: absolute;
    right: -23px;
    top: -6px;
    cursor: pointer;
    font-size: 17px;
}

.slider > div > input {
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--accent) 100%);
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.slider > div > input:hover {
    filter: brightness(120%);
}

.slider > div > .sliderTick {
    font-size: var(--font-size-default);
    position: absolute;
    top: 8px;
    left: 0px;
}

.slider > div > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 16px;
    background: rgba(0,0,0,0);
    cursor: pointer;
    box-shadow: 400px 0 0 400px var(--background-secondary);
}

/* =========================== */
/* DROPDOWN STYLING */
/* =========================== */

.dropdown {
    font-size: var(--font-size-default);

    display: flex;
    flex-direction: column;
}

.dropdown > div {
    position: relative;
    margin-left: var(--item-offset-left);
    margin-top: var(--item-offset-label);
}

.dropdown > div > input {
    /* 12px is the element left padding */
    width: calc(100% - var(--item-offset-left) - 12px);
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--background-secondary);
    padding: 3px 10px;
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

.dropdown > div > .content {
    display: none;
    position: absolute;

    min-width: calc(100% - var(--item-offset-left) - 12px);
    max-width: calc(100% - var(--item-offset-left) - 12px);

    background-color: var(--background-secondary);

    z-index: 1;
}

.dropdown > div > .content > p {
    cursor: pointer;

    padding: 4px 10px;
    font-size: 12px;

    transition: all .15s ease;
}

.dropdown > div > .content > p.selected {
    color: var(--primary);
}

.dropdown > div > .content > p:hover {
    color: var(--primary);
    filter: brightness(120%);
}

.dropdown > div:hover > .content {
    display: block;
}

.dropdown > div:hover > input {
    border-bottom: 1px solid var(--trim);
}

/* =========================== */
/* SELECTOR STYLING */
/* =========================== */

.selector {
    display: flex;
    flex-direction: column;

    font-size: var(--font-size-default);
}

.selector > div {
    /* 12px is the element left padding */
    width: calc(100% - var(--item-offset-left)*2 - 12px);

    margin-left: var(--item-offset-left);
    margin-top: var(--item-offset-label);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--background-secondary);
}

.selector > div > p {
    background-color: var(--background-secondary);

    transition: all .15s ease;

    height: 100%;

    font-size: 12px;

    padding: 3px 10px;
    color: var(--text);

    width: 100%;
    text-align: center;
}

.selector > div > p:not(:hover):not(.selected) {
    background-color: var(--background-secondary) !important;
}

.selector > div > p:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background-primary);
    filter: brightness(120%);
}

.selector > div > p.selected {
    background-color: var(--primary);
    color: var(--background-primary);
}